<%- include('../partials/_mangoNav') %>
<div class="container p-4 small" style="max-width: 600px;">
    <h2 class="text-center"><%= title %></h2>
    <div class="data-form">
      <form action="/mangoes/<%= mango._id %>/update" method="POST">
        <label for="source"></label>
        <input type="text" id="source" name="source" class="form-control form-control-sm" value="<%= mango.source %>" required autofocus/>

        <label for="date"></label>
        <input type="date" id="date" name="date" class="form-control form-control-sm" value="<%= mango.date %>" required/>
        
        <% let categories = ['Rent', 'Car', 'Health Insurance', 'Medical', 'House/Bath', 'Personal Care', 'School', 'Util - Water', 'Util - Gas', 'Util - Phone', 'Util - Internet', 'Util - Electricity', 'Food', 'Clothes', 'Recreation/Entertainment', 'Travel', 'Gifts', 'Tithing', 'Mail', 'Other'] %>
        <label for="category"></label>
        <select id="category" name="category" class="form-control form-control-sm" required>
            <option><%= mango.category %></option>
            <% for (category of categories) { %>
                <option><%= category %></option>
            <% } %>
        </select>
        <br>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="expense" value="Expense" checked>
                    <label class="form-check-label" for="expense">
                    Expense
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="income" value="Income">
                    <label class="form-check-label" for="income">
                    Income
                    </label>
                </div>
            </div>

            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="who" id="expense" value="Expense">
                    <label class="form-check-label" for="expense">
                    Andrea
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="who" id="income" value="Income" checked>
                    <label class="form-check-label" for="income">
                    Hayden
                    </label>
                </div>
            </div>
          </div>
              
              <label for="description"></label>
              <input type="text" id="description" name="description" value="<%= mango.description %>" class="form-control form-control-sm" />
              
              
              <label for="paymentMethod"></label>
              <% let methods = ['Cash', 'Credit Card', 'Checking Account', 'Savings Account', 'Gift Card', "Rewards Points"] %>
        <select id="paymentMethod" name="paymentMethod" class="form-control form-control-sm" required >
            <option><%= mango.paymentMethod %></option>
            <% for (method of methods) { %>
                <option><%= method %></option>
            <% } %>
        </select>

            <label for="amount"></label>
              <input type="number" step="0.01" id="amount" name="amount" class="form-control form-control-sm" value="<%= mango.amount %>" required />
              <br />

              <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="isNormal" id="isNormal" checked>
                        <label class="form-check-label" for="isNormal">Is Normal?</label>
                      </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="tithing" id="tithing" checked>
                        <label class="form-check-label" for="tithing">Tithing Applicable?</label>
                      </div>
                </div>
            </div>
            <br>
              <div class="btn-group">
                <button type="submit" class="btn btn-warning">Update</button></form>
                <a href="/mangoes/<%= mango._id %>/delete"><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this mango?');">Delete</button></a>
        </div>
    </div>
  </div>
