<div class="text-center">
    <h2><%= list.l_Title %></h2>
</div>

<p>
    Last Updated: <%= list.l_LastUpdated %>
</p>

<div>
    <% for (item of list.l_Items) { %>
        <p><%= item %></p>
    <% } %> 
</div>

<% if (currentUser && currentUser.isAdmin) { %>
    <a class="button edit" href="/lists/<%= list._id %>/edit">Edit</a>
    <a class="button remove" href="/lists/<%= list._id %>/delete">Delete</a>
<% } %>