  <div class="main-div">
    <div>
      <button class="navbar-toggler" type="button" data-toggle="navbar-toggle-sm" data-target="#navbarSm" id="navbutton-sm">
        <img src="https://img.icons8.com/small/16/000000/menu.png" style="margin: 0; position: relative; top: 50%;left: 50%;-ms-transform: translate(-50%, -56%); transform: translate(-50%, -56%);">
      </button>

          <a class="link-1 sm-nav-link"  style="text-align: center; display:none;" href="<%= urlPrefix %>/" id="nav-item-1">
            <img class="centerr" src="https://img.icons8.com/small/16/000000/home.png"/>
          </a>

        <% if (!currentUser) { %>
        <a class="link-2 sm-nav-link"  style="text-align: center; display:none" href="<%= urlPrefix %>/users/login" title="Login" id="nav-item-2">
            <img class="centerr" src="https://img.icons8.com/small/16/000000/contacts.png"/>
        </a>
        <% } else { %>
          <a class="link-2 sm-nav-link" style="text-align: center; display:none" href="<%= urlPrefix %>/users/logout" title="Logout" id="nav-item-2">
            <img class="centerr" src="https://img.icons8.com/small/16/000000/contacts.png"/>
          </a>
        <% } %>
          <a class="link-3 sm-nav-link"  style="text-align: center; display:none" href="<%= urlPrefix %>/coconuts" id="nav-item-3">
          <img class="centerr" src="https://img.icons8.com/fluency-systems-regular/16/000000/coconut.png"/>
        </a>
        <% if (currentUser) { %>
          <a class="link-4 sm-nav-link"  style="text-align: center; display:none" href="<%= urlPrefix %>/watermelon" id="nav-item-4">
            <img class="centerr" src="https://img.icons8.com/small/16/000000/watermelon.png" alt="watermelon" >
          </a>

          <a class="link-5 sm-nav-link"  style="text-align: center; display:none" href="<%= urlPrefix %>/bananas" id="nav-item-5">
            <img class="centerr" src="https://img.icons8.com/small/16/000000/banana.png" alt="banana" >
          </a>  
          <a class="link-6 sm-nav-link"  style="text-align: center; display:none" href="<%= urlPrefix %>/pineapples" id="nav-item-6">
            <img class="centerr" src="https://img.icons8.com/small/16/000000/pineapple.png" alt="pineapple" >
          </a>  
          <a class="link-7 sm-nav-link"  style="text-align: center; display:none" href="<%= urlPrefix %>/lemons" id="nav-item-7">
            <img class="centerr" src="https://img.icons8.com/small/16/000000/citrus.png" alt="lemon" >
          </a>  
        <% } %>
    </div>
  </div>


<style>
  #navbutton-sm {
    background: rgba(242, 242, 242, 0.6);
    padding: 29px;
    border-radius: 50%;
    width: 20px;
    height:20px;
    z-index: 1200;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    -ms-flex-align: right;
  }
  .centerr {
    margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -75%);
  transform: translate(-50%, -75%);
  vertical-align: middle;
  }

  .sm-nav-link {
    margin-bottom: 10px;
    margin-top: 10px;
    background: rgba(242, 242, 242, 0.6);
    padding: 30px;
    border-radius: 40px 40px 40px 40px;
    width: 40px;
    height:20px;
    z-index: 1200;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    position: fixed;
    right: 7vw;
  }
  .sm-nav-link:hover{
    background: rgba(230, 230, 230, 0.7);
  }

  .main-div {
    height:100vh;
    position:fixed;
    right:7vw;
    top:30px;
    z-index: 9999;
    justify-content: right;
    display: flex;
  }

  .link-1{top:86.5px}.link-2 {top:154px;}.link-3{top:221.5px}.link-4{top:289px}.link-5{top:356.5px}.link-6{top:424px}.link-7{top:491.5px}

</style>
<script>
  $("#navbutton-sm").on("click", () => {
    if ($("#nav-item-1").css("display") == 'none') {
      $("#nav-item-1").delay(30).fadeIn(250);
      $("#nav-item-2").delay(60).fadeIn(250);
      $("#nav-item-3").delay(90).fadeIn(250);
      $("#nav-item-4").delay(120).fadeIn(250);
      $("#nav-item-5").delay(150).fadeIn(250);
      $("#nav-item-6").delay(180).fadeIn(250);
      $("#nav-item-7").delay(210).fadeIn(250);
      $("#nav-item-8").delay(240).fadeIn(250);
    } else {
      $("#nav-item-1").delay(30).fadeOut(250);
      $("#nav-item-2").delay(60).fadeOut(250);
      $("#nav-item-3").delay(90).fadeOut(250);
      $("#nav-item-4").delay(120).fadeOut(250);
      $("#nav-item-5").delay(150).fadeOut(250);
      $("#nav-item-6").delay(180).fadeOut(250);
      $("#nav-item-7").delay(210).fadeOut(250);
      $("#nav-item-8").delay(240).fadeOut(250);
    }
    
  })
</script>



  