  <div class="text-center">
    <h1>Projects</h1>
  </div>

  <% if (currentUser && currentUser.isAdmin) { %>
    <a class="button secondary" href="<%= urlPrefix %>/coconuts/create">
        New Project
      </a>
<% } %>

        <div id="accordion">
            <div>
                <a class="card-link text-secondary" data-toggle="collapse" href="#collapseOne">
                  Filters
                </a>
            </div>

            
              <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="row">
                  <div class="col-sm-3">
                    <h3>Language</h3>
                    <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="JavaScript">JavaScript
                        </label>
                      </div>
                  </div>
                </div>
              </div>
          </div>

    <div class="row more-width">
      <% let iteration = 1; %>
        <% for (c in coconuts) { %>
          <% if (coconuts[c].hhidden == "false" || (currentUser && currentUser.isAdmin)) { %>
            <div class="col-3 col-s-12">
              <div class="project">
                <a href="<%= urlPrefix %>/coconuts/<%= coconuts[c]._id %>" class="text-decoration-none">
                <div class="card my-3" style="width:100%;height:100%;">
                    <img class="card-img-top" src="https://picsum.photos/id/<%= Number(c)+9 %>/400/200" alt="picture" style="width:100%">
                    <div class="project-text">
                        <small class="text-secondary mb-3"><%= coconuts[c].endDate %></small class="text-secondary">
                    <h4 class="card-title"><%= coconuts[c].title %></h4>
                    <p class="card-text"><%= coconuts[c].shortDescription %></p>
                    </div>
                </div>
                </a>
              </div>
            </div>
            <% if (iteration % 4 == 0 && coconuts.length - iteration > 1) { %></div><div class="row more-width"><% } %>
              <% iteration++; %>
               <% } %>
               <% } %>
    </div>