<div class="container">
    <% if (!currentUser) { %><h2 class="display-2 mb-5">Projects</h2><% } else { %><h2 class="display-1">Coconuts</h2><% }%>
    <% if (currentUser && currentUser.isAdmin) { %>
        <a href="<%= urlPrefix %>/coconuts/create" class="btn text-light my-4" style="border-color: rgb(150, 90, 62);background-color: rgb(150, 90, 62);">New Coconut</a>
    <% } %>

    
    <div class="row">
        
        <% for (c in coconuts) { %>
            <div class="col-md-4 my-3">
                <a href="<%= urlPrefix %>/coconuts/<%= coconuts[c]._id %>?i=<%=Number(c)+9 %>" class="text-decoration-none">
                <div class="card my-3" style="width:100%;height:100%;">
                    <img class="card-img-top" src="https://picsum.photos/id/<%= Number(c)+9 %>/400/200" alt="picture" style="width:100%">
                    <div class="card-body">
                        <small class="text-secondary mb-3"><%= coconuts[c].endDate %></small class="text-secondary">
                    <h4 class="card-title"><%= coconuts[c].title %></h4>
                    <p class="card-text"><%= coconuts[c].shortDescription %></p>
                    </div>
                </div>
                </a>
            </div>
            <% if (c % 3 == 2 && coconuts.length - c > 1) { %></div><div class="row"><% } %>
               <% } %>
    </div>
</div>
<style>
    div .card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>