<%- include('../partials/_coconutNav') %>

<% 
var stringToColour = function(str) {
    var hash = 0;
    for (var i = 0; i < str.length; i++) {
      hash = str.charCodeAt(i) + ((hash << 5) - hash);
    }
    var colour = '#';
    for (var i = 0; i < 3; i++) {
      var value = (hash >> (i * 8)) & 0xFF;
      colour += ('00' + value.toString(16)).substr(-2);
    }
    return colour;
  }
%>

<% if (coconut.hidden == "false" || (currentUser && currentUser.isAdmin)) { %>
    <div class="container mt-3">
        <h1 class="mb-4 display-3"><%= coconut.title %></h1>
        <div class="row">
            <div class="col-md-9 pr-5">
                <h3 class="font-weight-lighter"><%= coconut.headline %></h3>
                <p class="font-weight-bolder mb-4"><%= coconut.location %></p>
                
                <% if (coconut.video) { %>
                    <iframe width=100% class="mb-4" src="<%= coconut.video %>"></iframe>
                <% } %>

                <p><%= coconut.situation %></p>
                <p><%= coconut.task %></p>
                <p><%= coconut.action %></p>
                <p><%= coconut.result %></p>
            </div>
            <div class="col-md-3 py-4 px-4" style="background-color: rgb(252, 231, 222); border-radius: 5px;">
                <div>
                    <h3>Information</h3>
                </div>
                <ul>
                    <p><b>Started </b> <%= coconut.startDateString %></p>
                    <p><b>Finished </b> <%= coconut.endDateString %></p>
                    <p><b>Time to Complete:</b> <%= coconut.time %> hours</p>
                    <p><b>Project Type:</b> <%= coconut.type %> </p>
                    <p><b>Project Class:</b> <%= coconut.category %></p>
                    <p><b>Role:</b> <%= coconut.role %></p>
                    <% if (coconut.languages) { %><p><b>Languages:</b> <% for (l of coconut.languages) { %> <%= l %> <% } %></p><% } %>
                    <li>Technologies:
                        <% if (coconut.technologies) { %><ul class="small">
                            <% for (i=0; i<coconut.technologies.length; i++) { %>
                                <% let colo = stringToColour(coconut.technologies[i]) %>
                                <li class="m-1"><span class="text-light p-1" style="background-color: <%= colo %>"><%= coconut.technologies[i].replace("_", " ") %></span></li>
                            <% } %>
                        </ul><% } %>
                    </li>
                    <br>
                    <a class="btn btn-large btn-primary btn-block" href="<%= coconut.url %>">Go to project</a>
                    <% if (currentUser && currentUser.isAdmin) { %>
                        <div class="row mt-2">
                            <div class="col-6">
                                <a class="btn btn-success btn-block" href="<%= urlPrefix %>/coconuts/<%= coconut._id %>/edit">Edit</a>    
                            </div>
                            <div class="col-6">
                                <a class="btn btn-danger btn-block" href="<%= urlPrefix %>/coconuts/<%= coconut._id %>/delete" onclick="return confirm('Are you sure you want to remove this coconut?')">Remove</a>
                            </div>
                        </div>
                    <% } %>
                
                    

                </ul>
            </div>
        </div>
    </div>
    <% } else { %>
        <div class="container mt-3">
            <h2>This project is hidden.</h2>
        </div>
    <% } %>