<%- include('../partials/_coconutNav') %>

<div class="container mt-3">
    <h2 class="mb-4">Update Coconut</h2>
    <form action="<%= urlPrefix %>/coconuts/update %>" method="POST">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="hidden" name="_id" value="<% coconut._id %>" id="_id">

                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" id="title" class="form-control" required value="<%= coconut.title %>" >
                        </div>

                    </div>
                    <div class="col-sm-8">

                        <div class="form-group">
                            <label for="headline">Headline</label>
                            <input type="text" name="headline" id="headline" class="form-control" required value="<%= coconut.headline %>" >
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="situation">Situation</label> 
                    <textarea name="situation" id="situation" rows="2" class="form-control" required><%= coconut.situation %> </textarea>
                </div>
                
                <div class="form-group">
                    <label for="task">Task</label> 
                    <textarea name="task" id="task" rows="2" class="form-control" required><%= coconut.task %> </textarea>
                </div>

                <div class="form-group">
                    <label for="action">Action</label> 
                    <textarea name="action" id="action" rows="2" class="form-control" required><%= coconut.action %> </textarea>
                </div>

                <div class="form-group">
                    <label for="result">Result</label> 
                    <textarea name="result" id="result" rows="2" class="form-control" required><%= coconut.result %> </textarea>
                </div>
                
                <div class="form-group">
                    <label for="shortDescription">Short Description</label> 
                    <textarea name="shortDescription" id="shortDescription" rows="2" class="form-control" required ><%= coconut.shortDescription %></textarea>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" name="location" id="location" class="form-control" value="<%= coconut.location %>" >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="role">Role</label>
                            <input type="text" name="role" id="role" class="form-control" value="<%= coconut.role %>" >
                        </div>
                    </div>
                </div>

                
            </div>
            <div class="col-sm-4">

                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="date" name="startDate" id="startDate" class="form-control" required value="<%= coconut.startDate %>" >
                </div>

                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input type="date" name="endDate" id="endDate" class="form-control" required value="<%= coconut.endDate %>" >
                </div>
                
                <label for="languages">Languages</label>
                <div class="row">
                    <div class="col-4 form-check">
                        <input type="checkbox" name="languages[]" id="python" value="python" <% if (coconut && coconut.languages.includes("python")) { %> checked <% } %>>
                        <label for="python">Python</label>
                    </div>
                    <div class="col-4">
                        <input type="checkbox" name="languages[]" id="javascript" value="javascript" <% if (coconut && coconut.languages.includes("javascript")) { %> checked <% } %>>
                        <label for="javascript">JavaScript</label>
                    </div>
                    <div class="col-4">
                        <input type="checkbox" name="languages[]" id="R" value="R" <% if (coconut && coconut.languages.includes("R")) { %> checked <% } %>>
                        <label for="R">R</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="technologies[]">Technologies</label>   
                    <select name="technologies[]" id="technologies" class="form-control" multiple size="3">
                        <option value="aws_apigateway">AWS APIGateway</option>
                        <option value="aws_cognito">AWS Cognito</option>
                        <option value="aws_dynamodb">AWS DynamoDB</option>
                        <option value="aws_lambda">AWS Lambda</option>
                        <option value="aws_s3">AWS S3</option>
                        <option value="beautiful_soup">Beautiful Soup</option>
                        <option value="chalice">Chalice</option>
                        <option value="django">Django</option>
                        <option value="flask">Flask</option>
                        <option value="java">Java</option>
                        <option value="jupyter_notebook">Jupyter Notebook</option>
                        <option value="mongodb">MongoDB</option>
                        <option value="mysql">MySQL</option>
                        <option value="nodejs">Node.js</option>
                        <option value="php">PHP</option>
                        <option value="postgresql">PostgreSQL</option>
                        <option value="raspberry_pi">Raspberry Pi</option>
                        <option value="sqlite">SQLite</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="time">Time (hours)</label>
                            <input type="number" name="time" id="time" max="499" step=".5" min="0" class="form-control" value="<%= coconut.time %>" >
                        </div>
                    </div>
                    <div class="col-6">
                        <p>Hidden</p>
                        <div class="form-check form-check-inline">
                            <input type="radio" name="hidden" id="hiddenTrue" value="true" class="form-check-input">
                            <label for="hiddenTrue" class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" name="hidden" id="hiddenFalse" value="false" class="form-check-input" checked>
                            <label for="hiddenFalse" class="form-check-label" >No</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="url">Live URL</label>
                    <input type="text" name="url" id="url" class="form-control" value="<%= coconut.url %>" >
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="images">Images</label>
                            <input type="image" name="images" id="images" class="form-control" disabled>
                            <small>Image uploads disabled.</small>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="video">Video URL</label>
                            <input type="text" name="video" id="video" class="form-control" value="<%= coconut.video %>" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="type">Type of Project</label>
                            <input type="text" name="type" id="type" placeholder="Work Project" class="form-control" value="<%= coconut.type %>" >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="category">Project Classification</label>
                            <input type="text" name="category" id="category" placeholder="Programming, Research, etc." class="form-control" value="<%= coconut.category %>" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>