<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="quCsooCQ4QM-hgvFwKX7rqwvq_RhyL426brdRiqlTo8" />
    <meta name="google-site-verification" content="eRcbOB_dkFDVK5hq3cHeu5WW2ADWNKSCrGZ5byh7-5s" />
    <title>Hayden Hoopes</title>

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">

    <!-- Web Manifest -->
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/style.css">


  </head>
  <%- include ('partials/_navbar') %>
    <body id="body">
      <main>
        <!-- Flash Messages -->
        <div class="flashes">
          <% if (flashMessages) { %>
          <% if (flashMessages.success) { %>
            <div class="toast" style="position:fixed; top: 30px; left: 30px; z-index: 1021;opacity: .95;" id="flash">
              <div class="toast-header">
                Success!
              </div>
              <div class="toast-body">
                <%= flashMessages.success %>
              </div>
            </div>
          <% } else if (flashMessages.error) { %>
            <div class="toast text-danger" style="position:fixed; top: 30px; right: 30px; z-index: 1021;opacity: .95;" id="flash">
              <div class="toast-header">
                Error
              </div>
              <div class="toast-body">
                <%= flashMessages.error %>
              </div>
            </div>
          <% } %>
          <% } %>
        </div>

        <div class="text-dark">
          <%- body %>
        </div>
        </main>
      </body>
  <script>
    // $("#flash").delay(20000).fadeOut();
  </script>


  <footer class="small text-dark">
    <%- include ('partials/_footer') %>
    <script src="/js/todaysDate.js"></script>
    <script src="/js/technologies.js"></script>
  </footer>
</html>