<h1>This is all the music</h1>

<button class="button add" id="add-song-btn">Add Song</button>

<div class="less-width" style="overflow-x:auto;">
    <table>
            <% for (song of songs) { %>
                <tr>
                    <td><img src="<%= song.thumbnail %>" ></td>
                    <td><%= song.title %></td>
                    <td><%= song.artist %></td>
                    <td><a class="button edit full-width" href="/music/<%= song._id%>/edit">Edit</a></td>
                    <td><a class="button add full-width" href="https://hayden-music-bucket.s3.amazonaws.com/<%= song.title.replace(/ /g, '+') %>.mp3">Download</a></td>
                </tr>
                <% } %>
    </table>
</div>



<!-- Modal for adding a song  -->
<div class="modal modal-large">
    <span id="song-modal-X">X</span>
    <div>
        <h2>Add a song</h2>
        <h3>Paste a YouTube link below</h3>
        <input type="text" name="link" id="youtube-link" class="full-width" placeholder="Paste a YouTube link here">
        <span type="submit" id="check-youtube-btn" class="button add full-width">Check YouTube</span>
        <a type="submit" style="display:none" id="download-youtube-btn" class="button remove full-width">Download</a>
    </div>
</div>


<script src="/js/music/addSong.js"></script>